/* Position kitty-1 */
.kitty-1  {
  position: absolute;
  z-index: 1;
  top: 340px;
  left: 300px;
}

/* Position kitty-2 */
#kitty-2 {
  position: absolute;
  z-index: 2;
  top: 260px;
  left: 309px;
}

/* Position Kitty 3 in the basket */
#basket img {
  position: absolute;
  z-index: 5;
  top: 291px;
  left: 319px;
}

/* Positiom Kitty 4 */
#ball + img {
  position: absolute;
  z-index: 4;
  top: 260px;
  left: 455px;
}

/* Position Kitty 5 */
img[alt="kitty 5"] {
  position: absolute;
  z-index: 3;
  top: 217px;
  left: 223px
}
